// Media breakpoints
$breakpoint-tablet: 1024px;
$breakpoint-phone: 768px;

// Grid
$grid-width: 114rem;
$gutter: 6rem;

// Colors
$blue: #3741cc;
$white-blue: #eceeff;
$blue-grey: #636274;
$grey: #747474;
$light-blue: #3848f7;
$white: #fff;
$black: #000;