.footer {
  .background {
    background-color: $blue-grey;
    padding: 5rem 0;
    color: $white;
  }
  .flex-row {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  a {
    color: $black;
    position: relative;
    transition: .5s;
    &:hover {
      color: $blue;
    }
    &:focus {
      color: $white;
    }
  }
  .h1 {
    margin: 0 0 5rem;
  }
  .left {
    margin: 0 1.5rem 3rem 0;
    @include breakpoint(phone) {
      width: 100%;
      margin: 0 0 3rem;
    }
  }
  .medium-text {
    font-size: 2rem;
    .text {
      margin: 0 0 1rem;
    }
  }
  .right {
    margin: 0 0 0 auto;
    @include breakpoint(phone) {
      width: 100%;
    }
  }
  .bottom {
    width: 100%;
    font-size: 1.5rem;
    margin: 3rem 0 0;
  }
  .link {
    margin: 0 0 3rem;
    text-align: right;
    @include breakpoint(phone) {
      text-align: left;
    }
  }
  .name {
    @include breakpoint(464px) {
      display: none;
    }
  }
  .rights {
    margin: 0 0 0 auto;
  }
}